@import url(https://fonts.googleapis.com/css?family=Lato);


html body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.container{
    height: 100%;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group{
    width: 300px;
    
}

.form-box{
    width: 400px;
    background-color:  rgba(0,0,0,0.5);
    text-align: center;
    padding: 30px;
    box-sizing: border-box;
    color: #fff;
    
}

#estilo {
    color: #fff;
}
